body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, pink, hotpink);
  font-family: sans-serif;
}

.box {
  background: white;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

button {
  font-size: 20px;
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.yes {
  background: hotpink;
  color: white;
}

.no {
  background: #eee;
}
